body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #395654;
  /*background-color:yellow;*/
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.box {
  position: relative;
  width: 310px;
  height: 190px;
  border: 1px solid #7fa78c;
  background-color: #395654;
  overflow: hidden;
}

.letter {
  font-family: sans-serif;
  font-weight: bold;
  position: absolute;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  user-select: none;
  background-color:#f5b642;
  color: black;
  border-radius: 5px;
  border: 2px solid black;
  padding:5px 7px 5px 7px;
}